<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--TODO: implement rest logging instead of getPricesRequest-->
    <root level="DEBUG">
<!--        <appender-ref ref="APP_FILE"/>-->
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.onedigit.utah.integration" level="DEBUG">
<!--        <appender-ref ref="INT_LOG"/>-->
<!--        <appender-ref ref="STDOUT"/>-->
    </logger>

    <logger name="com.onedigit.utah.service" level="INFO">
<!--        <appender-ref ref="CACHE_LOG"/>-->
<!--        <appender-ref ref="STDOUT"/>-->
    </logger>

    <logger name="com.onedigit.utah.integration.logging" level="DEBUG">
                <appender-ref ref="STDOUT"/>
    </logger>



    <appender name="APP_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.log</file>
        <append>false</append>
        <encoder>
            <Pattern>%d [%level] [%thread] %-20logger{10}\(%line\) - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="INT_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/integration.log</file>
        <append>false</append>
        <encoder>
            <Pattern>%d [%level] [%thread] %-20logger{10}\(%line\) - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="CACHE_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/cache.log</file>
        <append>false</append>
        <encoder>
            <Pattern>%d [%level] [%thread] %-20logger{10}\(%line\) - %msg%n</Pattern>
        </encoder>
    </appender>

</configuration>
