.styled-table {
    height: fit-content;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: left;
}

.styled-table thead tr {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border-collapse: collapse;
}

.vertical-header{
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border-collapse: collapse;
    font-weight: bold;
}

.styled-table th,
.styled-table td:not(.td-spread-details):not(.col-spread) {
    padding: 12px 15px;
}


.styled-table tr:not(.spread-row){
    border-bottom: 1px solid #dddddd;
}

.styled-table thead tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flux-left{
    min-width: 400px;
    visibility: hidden;
}

.flux-right {
    display: flex;
    position: sticky;
    top: 10px;
    width: max-content;
    height: max-content;
    align-items: center;
}

.flux-center {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.column-ticker {
    width: 50%;
}

.column-spreads {
    width: 50%;
}

.spread-details p {
    margin: 0;
    padding: 0;

}

.spread-details.spread-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    /* justify-content: space-between; */
}

.spread-details {
    border-collapse: collapse;
    font-size: 0.7em;
    padding: 0;
    width: 100%;
}

.spread-details .p-diff {
    font-size: 1.5em;
    display: block;
    text-align: left;
}

.col-spread {
    width: 33%;
    padding: 4px 2px;
    cursor: pointer;
}

.col-spread:hover {
    /*filter: contrast(150%);*/
    background-color: #cccccc;
    transition: all 0.15s ease-in;
}

.td-spread-details {
    padding: 0;
    border-collapse: collapse;
}

.spread-cell-ok{
    background-color: #F6D892;
}

.spread-cell-perfect{
    background-color: #8DB590;
}

.spread-cell-default{
    background-color: white;
}
