.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: left;
}

.styled-table thead tr {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border-collapse: collapse;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table thead tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.table-container {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.column-price {
    width: 10vh;
}

.column-ticker {
    width: 5vh;
}

.column-spreads {
    width: 15vh;
}